#!/usr/bin/env bash

COMPOSE_PROJECT_NAME=mastodon-dev
COMPOSE_FILE=.devcontainer/compose.yaml
export COMPOSE_PROJECT_NAME COMPOSE_FILE

if [ -z "${DEV_ALIASES}" ]; then
    echo "Type 'source .envrc.bash' to load dev aliases"
fi
